/* global styles */
html, body {
  background: orange;
  margin: 0;
  padding: 0;
}

a {
  color: rgba(238, 95, 255, 0.2);
}

div {
  border: 1px solid #00ff00;
}

/* IMG STYLE */
img {
  width: 100%;
}

/* headings style */
h1 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 0;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

/* HERO STYLE */
.full-hero {
  background-color: #c7dbfc;
  width: 100vw;
}

/* listed item style */
li {
  border: 1px solid peru;
  background-color: azure;
}

/* bio styles */

.bio-box {
  background-color: azure;
  border: 1px solid #000000;
  font-size: 1rem;
  margin: 10px;
  padding: 0 2.5rem;
  width: 50%;
}

.bio-box h3 {
  font-size: 1.5rem;
}

.bio-copy {
  font-size: 1rem;
}

.bio-copy a {
  color: green;
}

/* social styles */
.social-link {
  background: rgba(150, 150, 150, 0.3);
  color: blue;
}


