/* global styles */
body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}

div {
  border: 1px solid #00ff00;
}

/* IMG STYLE */
img {
  width: 100%;
}

/* headings style */
h1 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 0;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

/* HERO STYLE */
.full-hero {
  background-color: #c7dbfc;
  margin: 0 auto;
  width: 75vw;
}

/* listed item style */

/* bio styles */
.bio-wrapper {
  background-color: #c0e0c3;
  font-size: 24px;
  margin: 0 auto 40px auto;
  max-width: 75vw;
  overflow: hidden;
}

.bio-wrapper::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.bio-box {
  background-color: powderblue;
  border: 1px solid;
  border-color: transparent black;
  border-radius: 10px;
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 1%;
  padding: 0 2% 2%;
  width: 23%;
}

.bio-box h3 {
  color: #fff;
  font-size: 1.5rem;
  margin: -40px 0 1em;
  text-align: center;
}

.bio-box img {
  width: 100%;
}

.bio-box .social-link {
  margin: 0 auto;
  display: block;
  margin: 2em auto 1em;
  text-align: center;
}

.bio-copy {
  font-size: 1rem;
  line-height: 1.5;
}

.bio-copy a {
  color: green;
}

/* social styles */
.social-link {
  background-color: grey;
  border-radius: 100px;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  padding-top: 0.85em;
  text-align: center;
  text-decoration: none;
  width: 2.5em;
}

.social-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.social-list > li {
  display: inline-block;
}

